pymupdf
pdfplumber
rank_bm25
faiss-cpu
langdetect
pytesseract
pillow==10.4.0
open_clip_torch
torch
imagehash
opencv-python-headless
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
groq
fastapi
uvicorn[standard]
pydantic
python-multipart
python-dotenv
SQLAlchemy
psycopg2-binary
passlib[bcrypt]
bcrypt<4.1
python-jose[cryptography]
